<h1>add skills</h1>

<% form_tag user_skills_path(current_user) do %>
  <p>
    <%= text_area_tag :skills, @unsaved_skills.join(', '), :size => '40x10' %>
  </p>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>
